/* Tutor.css */

.tutors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-bar {
  margin-bottom: 20px;
}

.profiles {
  margin-top: 20px;
  margin-left: 100px; /* Add margin between the search bar and the profile grid */
}

.tutors-grid {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between tutor cards as needed */
}

.tutor-card {
  width: 280px;
  transition: transform 0.2s ease-in-out;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tutor-card:hover {
  transform: scale(1.05);
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.tutor-card:nth-child(odd) .profile-img {
  background-color: #f0f0f0;
}

.tutor-card:nth-child(even) .profile-img {
  background-color: #e0e0e0;
}

.card-content {
  padding: 20px;
}

.tutor-link {
  text-decoration: none;
  color: inherit;
}

.no-profiles-message {
  margin-top: 20px;
}

.accordion-container{
margin-top: 40px;
}

/* Additional styling can be added for card titles, text, and buttons */
