/* Tutor.css */

.tutors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  margin-bottom: 20px;
}

.tutors-grid {
  margin-top: 50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between tutor cards */
}

.tutor-card {
  width: 280px; /* Adjust the card width as needed */
  transition: transform 0.2s ease-in-out;
  margin: 10px; /* Add margin to create spacing between cards */
  overflow: hidden; /* Hide any content overflow */
  border-radius: 10px; /* Add rounded corners to the card */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.tutor-card:hover {
  transform: scale(1.05); /* Adjust the scale factor for hover effect */
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Make profile images circular */
} 

/* Style the card background colors alternately */
.tutor-card:nth-child(odd) .profile-img {
  background-color: #f0f0f0; /* Set your desired background color */
}

.tutor-card:nth-child(even) .profile-img {
  background-color: #e0e0e0; /* Set another background color */
}

.card-content {
  padding: 20px; /* Add padding for the card content */
}

.tutor-link {
  text-decoration: none;
  color: inherit;
}

/* Additional styling can be added for card titles, text, and buttons */
