/* Home.css */

.crouselandheader {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  justify-content: space-between; /* Add space between items */
  align-items: center; /* Vertically center items */
}

/* Style the header separately */
.App-header {
  margin-left: 150px;
  text-align: center; /* Center text in the header */
}

/* Add space between the carousel and header */
.crousel {
  margin-left: 40px; /* Adjust the margin as needed */
}

/* Additional styling can be added as required */
